header {
    background-image: url("../Assets/images/Takehome/wave-top.svg");
    min-height: 40vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


#header-container {
    margin: auto;
    padding-top: 10em;
    width: 80%;
    text-align: center;
}

#header-container p {
    margin: auto;
    height: 100%;
    width: 40%;
    margin-bottom: 4em;
    margin-top: 2em
}

#calculator-results {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.section-card {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section-card h1 {
    margin: auto;
    margin-bottom: 1em;
}

#calculator-input-form, #recent-result {
    display: flex;
    width: 80%;
    height: 100%;
    box-shadow: 0 1px 15px 3px;
    margin: auto;
    border-radius: 1em;
}

#calculator-input-form form {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: 0.5em;
}

#calculator-input-form input,
#calculator-input-form select {
    margin: auto;
    border: 1px solid black;
    height: 2em;
    border-radius: 0.5em;
    width: 50%;
    text-align: center;
}

#calculator-input-form>form>input:last-child {
    margin-top: 2em;
    height: 3em;
    background-color: var(--primary);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: bold;
}

#calculator-input-form>form>input:last-child:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#calculator-input-form>form>input:last-child:active {
   background-color: var(--primary);
   color: white;
}


#recent-result {
    padding: 2em;
}

#recent-result-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#recent-result-content-left, #recent-result-content-right {
    margin: auto;
}

#recent-result-content-center {
    margin: auto;
    text-align: center;
}

#recent-result-content-center h3, #recent-result-content-center p, #recent-result-content h3, #recent-result-content p{
    margin-top: 1em;
}

#recent-result-content-center h2,#recent-result-content h2{
    margin-top: 1em;
}

#recent-result-content-left img, #recent-result-content-right img {
    cursor: pointer;
    border-radius: 5em;
    padding: 0.3em;
}

#recent-result-content-left img:hover, #recent-result-content-right img:hover {
    background-color: var(--primary);
}

#recent-result-content-left img:active, #recent-result-content-right img:active {
    background-color: var(--white);
}


@media screen and (max-width: 1587px) {

    header {
        background-image: url("../Assets/images/Takehome/wave-top-mobile.svg");
        background-size: cover;
    }

    #header-container {
        padding: 0;
    }

    #header-container-content h1 {
        margin-top: 3em;
    }

    #header-container p {
        width: 90%;
    }

    #calculator-results {
        flex-direction: column;
    }

    .section-card {
        margin-bottom: 5em;
    }

    #recent-result {
        width: 80%;
        padding: 0;
    }

    #recent-result-content h3, #recent-result-content p{
        font-size: 0.8em;
    }

    #recent-result-content-center h3, #recent-result-content-center p  {
        font-size: 0.8em;
    }

    
    #recent-result-content-left img:hover, #recent-result-content-right img:hover {
        background-color: white;
    }


    #recent-result-content-right img, #recent-result-content-left img{
        width: 18px;
    }

    #recent-result-content-left img {
        margin-left: 1em;
    }

    #recent-result-content-right img {
        margin-right: 1em;
    }

    #current-results,
    #results-history {
        width: 90%;
    }
}